[FORMAT]
2.0

[DATA FILE]
data/cnsGaussian2D.h

[MESH FILE]
BOX

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
4

[BOX NX]
20

[BOX NY]
20

[BOX DIMX]
20

[BOX DIMY]
20

[BOX BOUNDARY FLAG]
-1

[POLYNOMIAL DEGREE]
4

[THREAD MODEL]
DPCPP

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[GAMMA]
1.4

[VISCOSITY]
0.01

[ISOTHERMAL]
FALSE

[SPECIES TRANSPORT]
TRUE

[NSPECIES]
2

#Can be COLLOCATION or CUBATURE
[ADVECTION TYPE]
COLLOCATION

[TIME INTEGRATOR]
LSERK4

[CFL NUMBER]
0.1

[START TIME]
0

[FINAL TIME]
1

[OUTPUT INTERVAL]
0.1

[OUTPUT TO FILE]
FALSE

[OUTPUT FILE NAME]
cns
